In [1]:
import pandas as pd
import numpy as np

In [2]:
mergeSozluk={"isim":["ahmet","mehmet","zeynep","atıl"],
            "spor":["koşu","yüzme","koşu","basketbol"]
            }

In [3]:
mergeDataFrame=pd.DataFrame(mergeSozluk)

In [4]:
mergeDataFrame

     isim       spor
0   ahmet       koşu
1  mehmet      yüzme
2  zeynep       koşu
3    atıl  basketbol

In [5]:
mergeSozluk2={"isim":["ahmet","mehmet","zeynep","atıl"],
            "kalori":[100,200,150,250]
            }

In [6]:
mergeDataFrame2=pd.DataFrame(mergeSozluk2)

In [7]:
mergeDataFrame2

     isim  kalori
0   ahmet     100
1  mehmet     200
2  zeynep     150
3    atıl     250

In [10]:
pd.merge(mergeDataFrame,mergeDataFrame2, on="isim")

     isim       spor  kalori
0   ahmet       koşu     100
1  mehmet      yüzme     200
2  zeynep       koşu     150
3    atıl  basketbol     250